:root {
    --primary-bg:#FFFFFF;
    --secondary-bg:#F7F6FE;
    --neutral-bg:#EEF1FF;
    --primary-text:#000000;
    --secondary-text:#3F3F46;
    --light-text:#A1A1AA;
    --table-text:#DDD;
    --accent:#E0E0E0;
    --primary-btn-bg:#624DE3;
    --input-bg:#E1E5FE;
    --input-text:#888599;
    --hover-text:#4F46E5;
    --delivered-bg:#EBF9F1;
    --delivered-text:#1F9254;
    --process-bg:#FEF2E5;
    --process-text:#CD6200;
    --canceled-bg:#FBE7E8;
    --canceled-text:#A30D11;
    --light-btn-border:#D0D5DD;
    --light-btn-text:#344054;
    --warning-sign-external:#fef3f2;
    --warning-sign-internal:#fee4e2;
    --warning-title:#101828;
    --warning-description:#667085;
    --badge-new:#4F46E5;
}

.dark-mode {
    --primary-bg: #111827;
    --secondary-bg: #1F2937;
    --neutral-bg: #374151;
    --primary-text: #FFFFFF;
    --secondary-text: #D1D5DB;
    --light-text: #9CA3AF;
    --table-text: #4B5563;
    --accent: #4B5563;
    --primary-btn-bg: #4F46E5;
    --input-bg: #374151;
    --input-text: #D1D5DB;
    --hover-text: #A78BFA;
    --delivered-bg: #065F46;
    --delivered-text: #BBF7D0;
    --process-bg: #7C2D12;
    --process-text: #FEF3C7;
    --canceled-bg: #991B1B;
    --canceled-text: #FEE2E2;
    --light-btn-border: #4B5563;
    --light-btn-text: #D1D5DB;
    --warning-sign-external: #7C2D12;
    --warning-sign-internal: #991B1B;
    --warning-title: #FFFFFF;
    --warning-description: #D1D5DB;
    --badge-new:#FFFFFF;
}

